body{
background-color: #012A4A;

min-height: 100%;
max-width: 400px;
}

.usuario{
display: flex;
position: relative;
align-items: flex-start;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-content: space-around;
background-color: #EFEFD0;
left: 50px;
top: 20px;
width: 70px;
height: 70px;
border: none;
border-radius: 50%;
transition: transform 0.3s ease;
}

.usuario:hover{
transform: translateY(-10px); /* Subir 10px */
}
.livros{
display: flex;
position: relative;
align-items: flex-start;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-content: space-around;
background-color: #F1F1AB;
left: 140px;
top: -50px;
width: 70px;
height: 70px;
border: none;
border-radius: 50%;
transition: transform 0.3s ease;
}
.livros:hover{
transform: translateY(-10px); /* Subir 10px */
}
.resenhas{
display: flex;
position: relative;
align-items: flex-start;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-content: space-around;
background-color: #EDED73;
left: 230px;
top: -120px;
width: 70px;
height: 70px;
border: none;
border-radius: 50%;
transition: transform 0.3s ease;
}
.resenhas:hover{
transform: translateY(-10px); /* Subir 10px */
}
.sobre{
display: flex;
position: relative;
align-items: flex-start;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-content: space-around;
background-color: #EFEF1B;
left: 320px;
top: -190px;
width: 70px;
height: 70px;
border: none;
border-radius: 50%;
transition: transform 0.3s ease;
}
.sobre:hover{
transform: translateY(-10px); /* Subir 10px */
}

#logo{
position: absolute;
display: flex;
top: -5px;
left: 820px;
width: 300px;
height: 300px;
}
.quadrado{
position: absolute;
display: flex;
top: 30%;
left: 5%;
width:1720px; /* Defina a largura desejada */
height: 200px; /* Defina a altura desejada, que deve ser igual à largura */
background-color: blue; /* Uma cor de fundo apenas para visualização */
border-radius: 5px;
background-color: #EFEF1B;

}




/* ESTRELA DO CANTO DIREITO*/
#star{
	pointer-events: none;
	display: flex;
	position: relative;
	left: 355%;
	top: -375px;
	width: 100%;
}

#asn{
display: flex;
position: relative;
top: 200px;
left: 160%;
height: auto;
}
 
.book{
position: relative;
color: white;
display: flex;
top: 250px;
left: 790px;
font-size: 30px;
}

#coracoes{
position: relative;
display: flex;
top: -250px;
left: 650px;
width: 100px;
height: 100px;
}

#coracoes2{
position: relative;
display: flex;
top: -350px;
left: 1170px;
width: 100px;
height: 100px;
}
.logo2{
left: 10px;
padding: 1px;
}