body{
 height: 100vh;
}
nav.menu-lateral{
 box-shadow: 3px 0 0 #043E92;
 position: absolute;
 width: 80px;
 left: 1570px;
 height: 100%;
 background-color: #202020;
 padding: 40px 0 40px 1%;
 position: fixed;
 top: 0;
 left: 0;
 overflow: hidden;
 transition: .2s;
}
.btn-expandir{
 width: 100%;
 padding-left: 10px;
}
.btn-expandir > i{
 color: white;
 font-size: 24px;
 cursor: pointer;
}
ul{
height: 100%;
list-style-type: none;
}
ul li.item-menu{
 transition: .2s;
}
ul li.item-menu:hover{
 background:#043E92;
}
ul li.item-menu a {
color: white;
text-decoration: none;
font-size: 20px;
padding-left: 20px 4%;
display: flex;
margin-bottom: 20px;
line-height: 40px;
}
ul li.item-menu a .txt-link{
 margin-left: 40px;
 font-family: 'Quicksand', sans-serif;
}
ul li.item-menu a .icon > i{
 font-size: 30px;
 margin-left: -10px;
}
nav.menu-lateral:hover{
 width: 300px;
}
.menu-item,
.menu-open-button {
background: #EEEEEE;
border-radius: 100%;
width: 80px;
height: 80px;
margin-left: -40px;
position: absolute;
color: #FFFFFF;
text-align: center;
line-height: 80px;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
-webkit-transition: -webkit-transform ease-out 200ms;
transition: -webkit-transform ease-out 200ms;
transition: transform ease-out 200ms;
transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}
.menu-open {
display: none;
}
